<div class="card overflow-hidden">
    <div class="py-3 px-4 flex flex-row justify-between">
        <h1 class="h6">
            <span>{{ chart.sum }} {{ user ? user.currency.short : '' }}</span>
            <p>{{ chart.title }}</p>
        </h1>
        <div class="bg-teal-200 text-teal-700 border-teal-300 border w-10 h-10 rounded-full flex justify-center items-center">
            <i class="fad fa-eye"></i>
        </div>
    </div>    
    <apx-chart 
        [chart]="apexChart"
        [dataLabels]="dataLabels"
        [series]="series"
        [stroke]="stroke"
        [legend]="legend"
        [fill]="fill"
        [xaxis]="xaxis"
        [yaxis]="yaxis"
        [tooltip]="tooltip"
        [markers]="markers"
    ></apx-chart>
</div>