<div class="card">
    <div class="card-header flex flex-row justify-between">
        <h1 class="h6">Asset Overview</h1>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 ">
        <div *ngIf="summary" class="p-8">
            <h1 class="h2">{{ summary.sum }} {{ user ? user.currency.short : '' }}</h1>
            <p class="text-black font-medium">Total value</p>
            <div class="mt-20 mb-2 flex items-center">
                <div [ngClass]="summary.comparisonLastMonth >= 0 ? 'text-green-900 bg-green-200': 'text-red-900 bg-red-200'" class="py-1 px-3 rounded bg-red-200 mr-3">
                    <i [ngClass]="summary.comparisonLastMonth >= 0 ? 'fa-caret-up': 'fa-caret-down'" class="fa"></i>
                </div>
                <p class="text-black"><span [ngClass]="summary.comparisonLastMonth >= 0 ? 'text-green-400': 'text-red-400'">{{ summary.comparisonLastMonth }}%</span> in comparison to last month.</p>
            </div>
            <div class="flex items-center">
                <div [ngClass]="summary.comparisonLastYear >= 0 ? 'text-green-900 bg-green-200': 'text-red-900 bg-red-200'" class="py-1 px-3 rounded mr-3">
                    <i [ngClass]="summary.comparisonLastYear >= 0 ? 'fa-caret-up': 'fa-caret-down'" class="fa"></i>
                </div>
                <p class="text-black"><span [ngClass]="summary.comparisonLastYear >= 0 ? 'text-green-400': 'text-red-400'"  class="text-green-400">{{ summary.comparisonLastYear }}%</span> in comparison to last year.</p>
            </div>
        </div>
        <div>
            <app-chart [chart]="chart"></app-chart>
        </div>
    </div></div>
