<div class="card bg-teal-400 border-teal-400 shadow-md text-white h-full">
    <div class="card-body flex flex-row">
        
        <!-- image -->
        <div class="img-wrapper w-40 h-40 flex justify-center items-center">
            <img src="assets/img/happy.svg" alt="img title">
        </div>
        <!-- end image -->
        <!-- info -->
        <div class="py-2 ml-10">
            <h1 class="h6">Good Job, Jeni!</h1>
            <p class="text-white text-xs">Your assets are performing well this week.</p>
            <ul class="mt-4">
            </ul>
        </div>
        <!-- end info -->
    </div>
</div>