    <app-overview></app-overview>
    <div class="mt-6">
        <app-cards [assets]="assets"></app-cards>
    </div>

    <div class="mt-6">
    </div>    
    <div class="mt-6">
        <app-charts></app-charts>
    </div>

    <div class="grid grid-cols-4 gap-6">
        <div class="card col-span-4 lg:col-span-3 mt-6">
            <app-transactions></app-transactions>
        </div>
        <div class="card col-span-4 lg:col-span-1 lg:mt-6">
            <app-teaser></app-teaser>
        </div>
    </div>
